@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030712;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

section {
  min-height: 100vh;
}